@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  @apply bg-[#222831] text-gray-100 font-sans;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  @apply transition duration-300;
}

h1,
h2 {
  @apply text-white;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
